main h1,
main .h1 {
  letter-spacing: 0.01em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  color: #2bbc8a;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main h2 {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #eee;
  display: block;
}

main h3 {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: underline;
  color: #eee;
}

main h3 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}

main em {
  font-style: italic;
}

main ul {
  line-height: 1.725;
}

main table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  text-align: left;
}

main td {
  border-bottom: none;
  padding: 9px 8px 0px 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #c9cacc;
  background-color: #1d1f21;
  font-size: 14px;
  font-family: monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  flex: 1;
}

main p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

main pre,
main code {
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}

main a {
  text-decoration: none;
  color: #c9cacc;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
}

main a:hover {
  background: linear-gradient(transparent, transparent 16px, #d480aa 4px, #d480aa);
}

main h1 a,
main .h1 a,
main h2 a,
main h3 a {
  color: inherit;
  text-decoration: none;
  background: none;
}

main h1 a:hover,
main .h1 a:hover,
main h2 a:hover,
main h3 a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
}

@media (min-width: 480px) {
  p {
    text-align: justify;
  }
}

#header {
  width: 100%;
  margin: 0;
}

#header h1 {
  letter-spacing: 0.01em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 0;
  margin-bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#header a {
  color: inherit;
  text-decoration: none;
  background: none;
}

#header #logo {
  display: inline-block;
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#header #nav {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 200;
  color: #2bbc8a;
}

#header #nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

#header #nav ul a {
  margin-right: 15px;
  color: color-accent;
}

#header #nav ul a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
}

#header #nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px dotted #2bbc8a;
}

#header #nav ul li:last-child {
  border-right: 0;
  margin-right: 0;
}

#header #nav ul li:last-child a {
  margin-right: 0;
}

#header:hover #logo {
  -webkit-filter: none;
  filter: none;
}

#socialinfo {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

#socialinfo li {
  display: inline-block;
}

#socialinfo li:after {
  content: ", ";
}

#socialinfo li:last-child:after {
  content: "";
}

#socialinfo li:nth-last-child(2):after {
  content: " and ";
}

.post-list {
  padding: 0;
}

.post-list .post-item {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

.post-list .post-item .meta {
  display: block;
  font-size: 14px;
  color: #666;
  min-width: 100px;
  margin-right: 16px;
}

@media (min-width: 480px) {
  .post-list .post-item {
    display: flex;
    margin-bottom: 5px;
  }

  .post-list .post-item .meta {
    text-align: left;
  }
}

.item-list {
  padding: 0;
  list-style: none;
}

.item-list .item {
  margin-bottom: 5px;
}

.item-list .item a + span {
  display: block;
}

@media (min-width: 480px) {
  .item-list .item a + span {
    display: inline;
  }
}

article header .posttitle {
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

article header .meta {
  margin-top: 0;
  margin-bottom: 1rem;
}

article header .meta * {
  color: #ccc;
  font-size: 0.85rem;
}

article header .author {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 700;
}

article header .postdate {
  display: inline;
}

article .content h2 {
  margin-left: 1rem;
}

article .content h2:before {
  content: "#";
  color: #2bbc8a;
  position: absolute;
  left: -1rem;
  top: -4px;
  font-size: 1.2rem;
  font-weight: bold;
}

article .content img {
  max-width: 100%;
  display: block;
  height: auto;
}

article .content .img-container {
  overflow: hidden;
  max-width: 100%;
}

article .content .img-container img {
  transition: opacity 0.5s ease-in-out;
}

article .content .img-container img:not([src]) {
  height: 0;
  opacity: 0;
}

.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

.article-tag .tag-link:before {
  content: "#";
}

@media (min-width: 480px) {
  .article-tag {
    display: inline;
  }

  .article-tag:before {
    content: "|";
  }
}

#archive .post-list {
  padding: 0;
}

#archive .post-list .post-item {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

#archive .post-list .post-item .meta {
  display: block;
  font-size: 14px;
  color: #666;
  min-width: 100px;
  margin-right: 16px;
}

@media (min-width: 480px) {
  #archive .post-list .post-item {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 5px;
  }

  #archive .post-list .post-item .meta {
    text-align: left;
  }
}

.blog-post-comments {
  margin-top: 4rem;
}

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  font-size: 11px;
  width: 100%;
  margin: 0 auto 0 auto;
  vertical-align: top;
  text-align: center;
}

#footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px solid #4a4a4a;
}

#footer li a {
  margin-right: 15px;
}

#footer li:last-child {
  border-right: 0;
  margin-right: 0;
}

#footer li:last-child a {
  margin-right: 0;
}

#footer a {
  color: #666;
}

#footer a:hover {
  color: #999;
}

#footer .footer-left {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

@media (min-width: 39rem) {
  #footer .footer-left {
    float: left;
  }

  #footer .footer-right {
    float: right;
  }
}

.highlight {
  color: #d1d9e1;
  background: #474949;
}

.highlight .code .comment {
  color: #969896;
  font-style: italic;
}

.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal {
  color: #c9c;
}

.highlight .code .number,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo {
  color: #f99157;
}

.highlight .code .string,
.highlight .code .regexp {
  color: #8abeb7;
}

.highlight .code .title,
.highlight .code .name,
.highlight .code .built_in {
  color: #b5bd68;
}

.highlight .code .name {
  font-weight: bold;
}

.highlight .code .meta {
  color: #f99157;
}

.highlight .code .attr,
.highlight .code .attribute {
  color: #81a2be;
}

pre {
  font-family: monospace;
  font-size: 13px;
  padding: 10px 15px;
  padding-bottom: 0;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px dotted #666;
  overflow-x: auto;
}

code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px dotted #666;
  padding: 0 5px;
}

.highlight {
  font-family: monospace;
  background: #212326;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  overflow-x: auto;
  margin: 1rem 0 1rem 0;
}

.highlight pre {
  padding: 0;
  border: none;
  background: none;
}

.highlight table {
  width: auto;
}

.highlight .line {
  height: 22px;
}

body > header {
  padding: 1rem 1rem 0 1rem;
}

body > main,
body > footer {
  padding: 0 1rem;
}
