main h1 {
  letter-spacing: 0.01em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  color: #2bbc8a;
  margin-top: 1em;
  margin-bottom: 0.1em;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main h2 {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 1em;
  margin-bottom: 0.1em;
  color: #eee;
  display: block;
}

main h3 {
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
  color: #eee;
}

main h3 {
  margin-top: 1em;
  margin-bottom: 0.1em;
}

main em {
  font-style: italic;
}

main ul {
  line-height: 1.725;
}

main table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

main td {
  border-bottom: none;
  padding: 9px 8px 0px 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #c9cacc;
  background-color: #1d1f21;
  font-size: 12pt;
  font-family: monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #c9cacc;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc);
}

a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #d480aa 5px, #d480aa);
}

main {
  flex: 1;
}

main p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

main pre,
main code {
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}

main h1 a,
main h2 a,
main h3 a {
  color: inherit;
  text-decoration: none;
  background: none;
}

main h1 a:hover,
main h2 a:hover,
main h3 a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa);
}

@media (min-width: 480px) {
  p {
    text-align: justify;
  }
}

nav {
  letter-spacing: 0.01em;
  font-size: 1.2em;
  font-weight: 600;
  color: #2bbc8a;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}

nav ul a {
  margin-right: 15px;
  color: #2bbc8a;
}

nav ul a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #d480aa 5px, #d480aa);
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px dotted #2bbc8a;
}

nav ul li:last-child {
  border-right: 0;
  margin-right: 0;
}

nav ul li:last-child a {
  margin-right: 0;
}

body>header {
  width: 100%;
  margin: 0;
}

body>header h1 {
  letter-spacing: 0.01em;
  font-size: 1.5em;
  line-height: 2em;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 0;
  margin-bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body>header .subtitle {
  margin-left: 1em;
  position: relative;
  top: -0.5em;
}

.post-list {
  padding: 0;
}

.post-list .post-item {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1em;
}

.post-list .post-item .meta {
  display: block;
  font-size: 1em;
  color: #777;
  margin-right: 1em;
}

@media (min-width: 640px) {
  .post-list .post-item {
    display: flex;
    margin-bottom: 0.2em;
  }

  .post-list .post-item .meta {
    text-align: left;
  }
}

.item-list {
  padding: 0;
  list-style: none;
}

.item-list .item {
  margin-bottom: 1em;
}

.item-list .item a {
  margin-right: 1em;
}

.item-list .item span {
  display: block;
}

@media (min-width: 640px) {
  .item-list .item {
    display: flex;
    margin-bottom: 0.2em;
  }

  .item-list .item span {
    display: inline;
  }
}

article header .posttitle {
  margin-bottom: 0;
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

article header .meta {
  margin-top: 0;
  margin-bottom: 1em;
}

article header .meta * {
  color: #ccc;
  font-size: 0.85em;
}

article header .author {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 700;
}

article header .postdate {
  display: inline;
}

article .content h2 {
  margin-left: 1em;
}

article .content h2:before {
  content: "#";
  color: #2bbc8a;
  position: absolute;
  left: -1em;
  top: -4px;
  font-size: 1.2em;
  font-weight: bold;
}

article .content img {
  max-width: 100%;
  display: block;
  height: auto;
}

.posttitle {
  text-transform: none;
  font-size: 1.5em;
  line-height: 1.25;
}

.article-tag .tag-link:before {
  content: "#";
}

@media (min-width: 480px) {
  .article-tag {
    display: inline;
  }

  .article-tag:before {
    content: "|";
  }
}

.blog-post-comments {
  margin-top: 4em;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #777;
  font-size: 0.8em;
}

.highlight {
  color: #d1d9e1;
  background: #474949;
}

.highlight .code .comment {
  color: #969896;
  font-style: italic;
}

.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal {
  color: #c9c;
}

.highlight .code .number,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo {
  color: #f99157;
}

.highlight .code .string,
.highlight .code .regexp {
  color: #8abeb7;
}

.highlight .code .title,
.highlight .code .name,
.highlight .code .built_in {
  color: #b5bd68;
}

.highlight .code .name {
  font-weight: bold;
}

.highlight .code .meta {
  color: #f99157;
}

.highlight .code .attr,
.highlight .code .attribute {
  color: #81a2be;
}

pre {
  font-family: monospace;
  font-size: 14px;
  padding: 10px 15px;
  padding-bottom: 0;
  line-height: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px dotted #666;
  overflow-x: auto;
}

code {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px dotted #666;
  padding: 0 5px;
}

.highlight {
  font-family: monospace;
  background: #212326;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 15px;
  overflow-x: auto;
  margin: 1em 0 1em 0;
}

.highlight pre {
  padding: 0;
  border: none;
  background: none;
}

.highlight table {
  width: auto;
}

.highlight .line {
  height: 22px;
}

body>* {
  padding: 0 1em;
}
